.highlight {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    margin-top: 6px;
    margin-bottom: 6px;
    border: solid;
    border-width: 1px;
    border-color: #001F33;
    overflow: auto;

    font-family: monospace;
    color: #FCC921;
    font-size: 12px;
    padding: 15px;
    line-height: 1.3;
}
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sx,
.highlight .mi {
  color: #aec4eb;
}
.highlight .nb,
.highlight .k,
.highlight .o,
.highlight .kp {
  color: #c4ebae;
}
.highlight .ss {
  color: #ffcf87;
}
.highlight .nf {
  color: #ffffa0;
}
.highlight .vi {
  color: #ff9f9d;
}
.highlight .c, .highlight .c1 {
  color: #a0a0a0;
}
.highlight .nt {
  color: #66cc66;
}
.highlight .na {
  color: #44ff44;
}
.highlight .p {
  color: #ff7700;
}
