target
test-deps
lib_managed
project/boot
project/plugins/src_managed
project/plugins/project
**.DS_Store
*~
GPATH
GRTAGS
GSYMS
GTAGS
*#*#
.scala_dependencies
classes
*.swp
.settings
/.idea
blueeyes.iml
tags
nbproject
build.xml
project-0.7.x/boot/
project-0.7.x/plugins/project/
project-0.7.x/plugins/src_managed/sbt-idea-plugin-0.4.0-SNAPSHOT/
project-0.7.x/plugins/src_managed/sbt-netbeans-plugin-0.0.7_0.7.7/
