target
test-deps
lib_managed
project/boot
project/plugins/src_managed
project/plugins/project
**.DS_Store
*~
GPATH
GRTAGS
GSYMS
GTAGS
*#*#
.scala_dependencies
classes
*.swp
.settings
/.idea
blueeyes.iml
tags
