---
layout: base
---
<div class="body-column-2 c-left">

  {{ content }}

</div>
<div class="body-column c-right">
  <div class="body-links">
    <ul>
      <li><img alt="download" src="images/icon-download.png"><a href="http://nexus.reportgrid.com/content/repositories/public-snapshots/com/reportgrid/blueeyes_2.9.1/0.6.0-SNAPSHOT/blueeyes_2.9.1-0.6.0-SNAPSHOT.jar">DOWNLOAD</a></li>
      <li><img alt="repository" src="images/icon-repository.png"><a href="https://github.com/jdegoes/blueeyes">REPOSITORY</a></li>
    </ul>
  </div>
  <p>This is a template section for the body of this page. Place any content here desired. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Vivamus bibendum purus a orci pellentesque vel ornare metus suscipit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="text.html">test link</a> Vivamus bibendum purus a orci pellentesque vel ornare metus suscipit.</p>
</div>
